# Ignore dependencies, as they are installed inside the container
node_modules

# Ignore build artifacts, as they are generated inside the container
dist

# Ignore local development files and logs
.git
.vscode
npm-debug.log
*.log